/* @theme test */

@import 'default';

section {
    font-family: "Noto Sans CJK JP DemiLight";
    font-size: 20px;
    padding: 40px;
}

section.title h1 {
    color: white;
    font-family: "Noto Sans CJK JP DemiLight";
    font-size: 60px;
    text-align: center;
}

section.title {
    color: white;
    font-family: "Noto Sans CJK JP DemiLight";
    font-size: 36px;
    text-align: center;
    padding: 40px;
}

section.slides h1 {
    /* color: transparent; */
    font-family: "Noto Sans CJK JP DemiLight";
    font-size: 40px;
    position: absolute;
    left: 50px; top: 50px;
}

section.slides h2 {
    font-size: 32px;
    /* color: #4ac; */
    position: absolute;
    left: 50px; top: 90px;
}

section.slides h3 {
    font-size: 32px;
    /* color: #4ac; */
    position:sticky;
    left: 50px; top: 90px;
}

section.slides ul{
    font-size: 20px;
    /* line-height: 1; */
    /* text-align: center; */
    font-family: "Noto Sans CJK JP DemiLight";
    position: absolute;
    left: 50px; top: 170px;
}

section.slides p{
    text-align: center;
    position: absolute;
    left: 50px; top: 500px;
}

section.lists ul {
    border: 1px solid #000000;
}

section.lists ul li {
    padding: 10px;
}
